fastapi
uvicorn[standard]
groq
sentence-transformers
qdrant-client
vaderSentiment
pyspellchecker
python-dotenv
numpy
scikit-learn
pydantic
requests
supabase
spacy>=3.8.0
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl